.imirongo {color:white; 
	      background-color:black;
	      border:0px;
	      border-radius:10px;
	  }

.umunsi {
	font-weight: bold;

}
.icyokwibukwa {
		background-color:rgba(107, 193, 126, 0.07); 
		border-radius: 20px;
}
.ikibazo {
	background-color: rgba(255, 0, 0, 0.09);
	border-radius: 20px;
}