<header class="site-header" style="background-color: black;">
<div class="wrapper">
<div class="intro">
<h1>Ibyigisho biyobora abakuze</h1>
<h3>Kwiga Bibiliya</h3>
</div>
	<div class="menu-category">
	<div class="menu-item"><a class="{% if page.url == '/ibyigisho/' %}active{% endif %} menu-link" href="{{site.baseurl}}/ibyigisho/">Ibyigisho</a></div>
	<div class="menu-item"><a class="{% if page.url == '/umurinzi/' %}active{% endif %} menu-link" href="{{site.baseurl}}/">Umurinzi</a></div>
	</div>
	</div>
	</header>